section {
    height: auto;
    background-color: rgb(255, 251, 245);
}

.skillsHeader {
    padding-top: 2vh;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}
.skillGrid {
    width: 90%;
    margin-left: 5%;
    }


.skillWrapper {
    gap: 2vh;
    padding: 2vh;
    display: block;
    background-color: rgb(200, 205, 211);
    text-align: center;
}

.skillName {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2vh;
}

.logos {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;

}
.logos img {
    height: 10vh;
    justify-self: center;

}



@media screen  and (max-width: 650px){
    .skillName {
       font-size: 3vw;
    }

    .logos img {
        height: 6vh;
        justify-self: center;
    
    }
}




.contact {
    height: 5vh;
    display: flex;
    top: -50%;
    justify-content: center;
    align-items: center;
}

.links{
    padding: 2vh;
    font-size: large;
}

.links a:hover {
    transition: 0.3s ease-in-out;
    color: rgb(0, 55, 255);
}