
nav {
    position: absolute;
    background-color: black;
}

button {
    color: white;
}

nav a {
    width: fit-content;
    padding: 1vh;
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondaryColor)
}
